.nav{
    position: sticky;
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    background: rgb(255, 255, 255);
    padding: 5px 40px;
    transition: 0.5s;
}
.logo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    max-width: 50px;
    flex-direction: row;
}
.logo h2{
    color: black;
    text-align: center;
    margin-left: 10px;
}
ul{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    color: black;
}